<!DOCTYPE html>

<head>
    <title>REGISTER</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    <div class="container">
        <div class="logo">

        </div>
        <div class="login-container">
            <form>
                <input name="email" type="email" placeholder="johnsmith@gmail.com">
                <input name="nickname" type="text" placeholder="nickname">
                <input name="password" type="password" placeholder="password">
                <div class="login-buttons">
                    <button>Create Account</button>
                </div>
            </form>
        </div>
        <div class="buttons-container">
            <button class="redirect">Log In</button>
        </div>
    </div>
</body>