body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    display: flex;
    width: 100%;
    height: 7vh;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

/* Left Section */
.navbar-left {
    flex: 1;
    width: 25vw;
}

.navbar-logo {
    text-decoration: none;
    color: white;
}

.navbar-logo h2 {
    margin: 0;
    font-size: 24px;
}

/* Middle Section */
.navbar-buttons {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar-buttons a button {

    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4db28b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-buttons a button:hover {
    background-color: #3f9272;
}

.admin-button {
    background-color: #dc3545;
}

/* Right Section */
.navbar-right {
    display: flex;
    justify-content: right;
    align-items: start;
    gap: 15px;
    width: 25vw;
}

.navbar-user {
    font-size: 16px;
}


/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-left {
        margin-bottom: 10px;
    }

    .navbar-buttons {
        flex-wrap: wrap;
        gap: 8px;
    }

    .navbar-right {
        margin-top: 10px;
    }
}
